.service{
    
    border: 1px solid rgb(180, 115, 31);
    
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 3px;
   
}
.button{
    background-color: rgb(180, 115, 31);
}